bcrypt==4.1.2
blinker==1.9.0
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
email-validator==2.1.0
Flask==3.0.0
Flask-Cors==4.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
nltk==3.9.2
pymongo==4.6.1
pyphen==0.17.2
python-dotenv==1.0.0
regex==2026.1.15
setuptools==82.0.0
textstat==0.7.12
tqdm==4.67.3
Werkzeug==3.1.5
